@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer base {
  :root {
    --color-primary: #009877;
    --color-secondary: #313E48;
    --border-ligth: #DDDDDD;
    --gray: #F6F6F6;
  }
}

:root {
  --swiper-pagination-color: #009877;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: 0;
}

.bulletBottom .swiper-pagination-fraction, 
.bulletBottom .swiper-pagination-custom, 
.bulletBottom .swiper-horizontal > .swiper-pagination-bullets, 
.bulletBottom .swiper-pagination-bullets.swiper-pagination-horizontal {
  --swiper-pagination-bottom: 60px;
}

.banner-info {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide-active .banner-info {
  animation: animacionOpacidad 1s ease-in-out forwards;
  opacity: 1;
}

.banner-info .banner-text {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.swiper-slide-active .banner-text {
  animation: animationBannerText 0.8s ease-in-out forwards;
}

@media (min-width: 768px) {
  .banner-info {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .banner-info .banner-text {
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
  
  .swiper-slide-active .banner-text {
    animation: animationBannerText 1s ease-in-out forwards;
  }
}

.swiper-button-prev, 
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  background: #313E48;
  --swiper-navigation-color: white;
  top: initial !important;
  bottom: 0;
  --swiper-navigation-sides-offset: 0;
}

.swiper-button-prev {
  left: initial !important;
  right: 60px !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  --swiper-navigation-size: 19px
}

.SwiperAbout .swiper-wrapper {
  padding-bottom: 60px;
}